zip() function maps multiple lists of equal size together.
It maps 1st value of 1st list to 1st value of 2nd list,
likewise for all the indices.

In [24]:
list1=[]

In [25]:
list1.append('sem1')
list1.append('sem2')
list1.append('sem3')
list1.append('sem4')

In [26]:
list1

['sem1', 'sem2', 'sem3', 'sem4']

In [27]:
list2=[]

In [28]:
list2.append('67')
list2.append('62')
list2.append('87')
list2.append('90')

In [29]:
list2

['67', '62', '87', '90']

In [30]:
zipped_lists=zip(list1,list2)

In [31]:
for i in zipped_lists:
    print(i)

('sem1', '67')
('sem2', '62')
('sem3', '87')
('sem4', '90')

_____________________________________________________________________
Below code is to convert zipped tuples or just tuples to seperate into multiple lists or tuples
_____________________________________________________________________

In [49]:
dataset=[]

In [50]:
dataset.append(("name","hemanth","Sharma"))
dataset.append(("age","20","2 months"))
dataset.append(("height","5 ft","10 inches"))

In [51]:
dataset

[('name', 'hemanth', 'Sharma'),
 ('age', '20', '2 months'),
 ('height', '5 ft', '10 inches')]

In [52]:
X,Y,Z = zip(*dataset)

In [53]:
X

('name', 'age', 'height')

In [54]:
Y

('hemanth', '20', '5 ft')

In [55]:
Z

('Sharma', '2 months', '10 inches')